<div class="card-text-center" style="width: 12rem;">
  <h6><%= item.name %></h6>
  <img src="<%= item.picture %>" class="card-img-top" style="width: 150px; height: 150px;">
  <div class="card-body">

    <%= link_to item, method: :delete, remote: true, class: "btn btn-link" do %>
      <i class="fa-sharp fa-solid fa-trash-can"></i>
    <% end %>

    <h5><%= "In cart: " + item.amount.to_s %></h5>
    <td><%= link_to 'Add to Cart', {:controller => "items", :action => "add_item_to_cart", :item_id => item.id} ,remote: true,  :method=>:post  %></td>
    <% if item.amount && item.amount > 0 %>
      <td><%= link_to 'Remove from Cart', {:controller => "items", :action => "remove_item_from_cart", :item_id => item.id} , remote: true, :method=>:post  %></td>
    <% end %>
  </div>
</div>
