<div class="row">
  <div class="col-md-12">
    <h1 class="h6 text-left">Fruits</h1>

    <ul class="list-group">
      <% current_user.items.fruit.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Vegetables</h1>

    <ul class="list-group">
      <% current_user.items.vegetable.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Dairy</h1>

    <ul class="list-group">
      <% current_user.items.dairy.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Meat</h1>

    <ul class="list-group">
      <% current_user.items.meat.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Seafood</h1>

    <ul class="list-group">
      <% current_user.items.seafood.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Bakery</h1>

    <ul class="list-group">
      <% current_user.items.bakery.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Household</h1>

    <ul class="list-group">
      <% current_user.items.household.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Beverages</h1>

    <ul class="list-group">
      <% current_user.items.beverages.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

    <div class="col-md-12">
    <h1 class="h6 text-left">Alcohol</h1>

    <ul class="list-group">
      <% current_user.items.alcohol.each do |item| %>
        <li class="list-group-item">
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>

<br>

<%= link_to 'New Item', new_item_path %>
