<div class="row">
  <div class="col-md-12">
    <h1 class="h6 text-left">
      <h2>Fruits</h2>

      <div class="row justify-content-md">
        <%= render current_user.items.fruit.order(created_at: :asc) %>
      </ul>
    </div>
    <br>
    <br>
    <div class="col-md-12">
      <h1 class="h6 text-left">
        <h2>Vegetables</h2>

        <div class="row justify-content-md">
          <%= render current_user.items.vegetable.order(created_at: :asc) %>
        </ul>
      </div>
      <br>
      <br>
      <div class="col-md-12">
        <h1 class="h6 text-left">
          <h2>Dairy</h2>

          <div class="row justify-content-md">
            <%= render current_user.items.dairy.order(created_at: :asc) %>
          </ul>
        </div>
        <br>
        <br>
        <div class="col-md-12">
          <h1 class="h6 text-left">
            <h2>Meat</h2>

            <div class="row justify-content-md">
              <%= render current_user.items.meat.order(created_at: :asc) %>
            </ul>
          </div>
          <br>
          <br>
          <div class="col-md-12">
            <h1 class="h6 text-left">
              <h2>Seafood</h2>

              <div class="row justify-content-md">
                <%= render current_user.items.seafood.order(created_at: :asc) %>
              </ul>
            </div>
            <br>
            <br>
            <div class="col-md-12">
              <h1 class="h6 text-left">
                <h2>Bakery</h2>

                <div class="row justify-content-md">
                  <%= render current_user.items.bakery.order(created_at: :asc) %>
                </ul>
              </div>
              <br>
              <br>
              <div class="col-md-12">
                <h1 class="h6 text-left">
                  <h2>Household</h2>

                  <div class="row justify-content-md">
                    <%= render current_user.items.household.order(created_at: :asc) %>
                  </ul>
                </div>
                <br>
                <br>
                <div class="col-md-12">
                  <h1 class="h6 text-left">
                    <h2>Beverages</h2>

                    <div class="row justify-content-md">
                      <%= render current_user.items.beverages.order(created_at: :asc) %>
                    </ul>
                  </div>
                  <br>
                  <br>
                  <div class="col-md-12">
                    <h1 class="h6 text-left">
                      <h2>Alcohol</h2>

                      <div class="row justify-content-md">
                        <%= render current_user.items.alcohol.order(created_at: :asc) %>
                      </ul>
                    </div>
