<div class="row">
  <div class="col-md-12">
    <h1 class="h6 text-left">Fruits</h1>

    <ul class="list-group">
      <%= render current_user.items.fruit.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Vegetables</h1>

    <ul class="list-group">
      <%= render current_user.items.vegetable.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Dairy</h1>

    <ul class="list-group">
      <%= render current_user.items.dairy.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Meat</h1>

    <ul class="list-group">
      <%= render current_user.items.meat.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Seafood</h1>

    <ul class="list-group">
      <%= render current_user.items.seafood.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Bakery</h1>

    <ul class="list-group">
      <%= render current_user.items.bakery.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Household</h1>

    <ul class="list-group">
      <%= render current_user.items.household.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Beverages</h1>

    <ul class="list-group">
      <%= render current_user.items.beverages.order(created_at: :asc) %>
    </ul>
  </div>

  <div class="col-md-12">
    <h1 class="h6 text-left">Alcohol</h1>

    <ul class="list-group">
      <%= render current_user.items.alcohol.order(created_at: :asc) %>
    </ul>
  </div>

  <br>

  <%= link_to 'New Item', new_item_path %>
